<connectionStrings>
    <add name="connectionString" connectionString="provider=SQLOLEDB;Server=10.10.10.10;database=sample;Trusted_Connection=Yes" providerName="System.Data.OleDb" />
    <add name="sqlConnectionString" connectionString="Data Source=10.10.10.10;Initial Catalog=sample;Trusted_Connection=Yes" providerName="System.Data.SqlClient" />
  </connectionStrings>